@model IEnumerable<WikiJuegos_PNT1.Models.Juego>
@using System.Security.Claims;

@{
    ViewData["Title"] = "Juegos";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Juegos</h2>
    <form class="d-flex" style="width: 40%" asp-action="Buscar" asp-controller="Juego" method="get">
        <input name="buscar" type="text" class="form-control form-control-sm me-2" style="width: 70%" placeholder="Buscar por nombre..." />
        <input type="submit" name="name" class="btn btn-sm btn-primary" style="width: 30%" value="Buscar" />
    </form>
</div>

<p>
    @{
        var userId = User.Claims.Where(c => c.Type == ClaimTypes.NameIdentifier).Select(c => c.Value).SingleOrDefault();
        if (userId == "1")
        {
            <a class="btn btn-outline-primary" asp-action="Create">Crear nuevo juego</a>
        }
    }
</p>

@if (Model != null && Model.Any())
{
    <div class="card-container">
        @foreach (var item in Model)
        {
            <div class="card">
                <a asp-action="Details" asp-route-id="@item.Id">
                    <div class="card-content">
                        <h4>@item.Nombre</h4>
                        <hb>
                        <p>Desarrollador: @item.Desarrollador</p>
                        <p>Género: @item.Genero</p>
                    </div>
                </a>
            </div>
        }
    </div>
}
else
{
    <p>No hay juegos para mostrar.</p>
}